/*Title font -> font-family: 'Montserrat', serif;
Warning font -> font-family: 'Open Sans', cursive;
Text font -> font-family: 'Open Sans', sans-serif;*/


/*--------------------------------- DOM ELEMENTS ----------------------------*/

body {
  font-size: 100%;
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  padding-bottom: 175px;
  word-wrap: break-word;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 175px;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f2f2f;
  font-family: 'Montserrat', serif;
}

blockquote, q, i, b {
  font-family: 'Open Sans', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

textarea, input {
  background-color: #fff;
}

/*--------------------------------- classes e ids gerais ----------------------------*/

.main-wrapper{
  padding: 5px;
}
.paragrafos {
  font-size: 1.6em;
  list-style: none;
  text-align: justify;
  text-indent: 2em;
  word-wrap: break-word;
}

.spaces {
  padding-bottom: 1em;
}


/*--------------------------------- navbar ----------------------------*/


/* navbar */

.navbar-default {
  font-family: 'Montserrat', serif;
  font-size: 1.6em;
  cursor: pointer;
  border-color: #e7e7e7;
  background: #e5e5e5;
  box-shadow: 0 0 3px #333;
}


/* title */

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
}


/* link */

.navbar-default .navbar-nav>li>a {
  color: #3e3e3e;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #000;
  background-color: #ddd;
  box-shadow: 0 3px #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #000;
  background-color: #cdcdcd;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #555;
  background-color: #d5d5d5;
}


/* caret */

.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret, .navbar-default .navbar-nav>.open>a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}


/* mobile version */

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #333;
  }
}


/*
Credits:Code snippet by @maridlcrmn (Follow me on Twitter)*/

.navbar-brand {
  background-size: 1.5em;
}

.nav-tabs {
  font-weight: bolder;
  display: inline-block;
  padding-top: 1.1em;
  border-bottom: none;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  font-size: 1em;
  border: none;
  border-radius: 0;
}

.nav-list {
  font-size: 1.0em;
  border-bottom: 1px solid #bdbdbd;
}

.nav-list>li {
  padding: 1em 1em 1em;
  border-left: 1px solid #bdbdbd;
}

.nav-list>li:last-child {
  border-right: 1px solid #bdbdbd;
}

.nav-list>li>a:hover {
  text-decoration: none;
}

.nav-list>li>a>span {
  font-weight: bold;
  display: block;
  /*text-transform: capitalize;*/
}

.nav-list>li>a>i {
  font-size: 4.5em;
}

.nav-list>li>a>span, .nav-list>li>a>i {
  color: #000;
}

.nav-list>li>a>span:hover, .nav-list>li>a>i:hover {
  color: #696969;
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  width: 100%;
  padding: 1em 1em 1em;
  text-align: center;
}


/*--------------------------------- HOMEPAGE ----------------------------*/

.texto_uso {
  margin: 1em;
  text-align: justify;
  text-indent: 1em;
}

.termo_de_uso {
  font-size: 1.5em;
  overflow: auto;
  width: 100%;
  height: 150px;
  border: 1px ridge #000;
  border-radius: .5em;
  background-color: #fbfbfb;
}

.radio_label {
  font-size: 1.6em;
}

.modal_body_terms {
  font-size: 1.4em;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: number;
  margin: 0;
}


/*----------------------- Modal e Alerts de Ocorrências --------------------*/

.modal-ocorrencia {
  width: 100%;
  min-width: 100%;
  margin: auto;
  padding: 5rem;
}

.ocorrencia-content {
  width: auto;
  padding: 10rem;
  height: 100%;
  min-height: 100%;
}

.ocorrencia-header {
  padding: 1.5rem;
  border-bottom: 1px solid #e5e5e5;
}

.ocorrencia-title {
  font-size: 2.5em;
  padding-right: 40rem;
}

.ocorrencia-body {
  position: relative;
  padding: 15px;
  font-size: 1.5rem;
  text-align: justify;
}

.ocorrencia-footer {
  font-size: 1.3em;
  text-align: right;
}

.make_denuncia {
  font-family: 'Open Sans', sans-serif;
}

.ancor-denuncia-modal{
  cursor: pointer;
}

.ancor-denuncia-modal:hover{
  color: #696969;
}


.icon-bg {
  min-height: 1.2rem;
  padding: 1.25rem;
  margin-bottom: 1.2rem;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.icon-bg:hover{
  cursor: pointer;
  box-shadow: 0 0 10px #c7c7c7;
}

@media (min-width: 300px){
  @media (max-width: 360px){
    .icon-bg{
      background-position: 6.4em;
      background-size: 2.3em;
    }
  }
}

@media (min-width: 360px){
  @media (max-width: 400px){
    .icon-bg{
      background-position: 8.5em;
      background-size: 2.3em;
    }
  }
}

@media (min-width: 400px){
  @media (max-width: 768px){
    .icon-bg{
      background-position: 11em;
      background-size: 2.6em;
    }
  }
}

@media (min-width: 768px){
  @media (max-width: 1000px){
    .icon-bg{
      background-position: 5.5em;
      background-size: 2.5em;
    }
  }
}

@media (min-width: 1000px){
  .icon-bg{
    background-position: 12em;
    background-size: 2.5em;
  }
}
/*--------------------------------- Tabelas Admin ----------------------------*/

.linha_imediata {
  background: #b43939;
}


/*--------------------------------- TIMELINE ----------------------------*/

.numero_ocorrencia {
  font-family: 'Montserrat', serif;
  font-size: 7em;
  padding-left: .5em;
}

.carousel-indicators .active {
  background: #31708f;
}

.content {
  margin-top: 20px;
}

.adjust1 {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.adjust2 {
  margin: 0;
}

.carousel-indicators li {
  border: 1px solid #ccc;
}

.carousel-control {
  width: 5%;
  color: #31708f;
}

.carousel-control:hover, .carousel-control:focus {
  color: #31708f;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.media-object {
  margin: auto;
  margin-top: 15%;
}

@media screen and (max-width: 768px) {
  .media-object {
    margin-top: 0;
  }
}

.panel-denuncia {
  padding-bottom: 2rem;
}

.denuncia-errors {
  font-size: 1.2rem;
}


/* ---------------- Registro de Denuncia ---------------- */

.finalizado-box {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 1rem;
  margin: auto;
  border: 1px hidden #000;
  word-wrap: break-word;
  text-align: justify;
  hyphens: none;
}

.finalizado-crime {
  font-size: 1.6rem;
  text-indent: 2em;
  word-wrap: break-word;
  text-align: justify;
  hyphens: none;
}

.finalizado-crime>p, .finalizado-box>p {
  word-wrap: break-word;
  hyphens: none;
}

/*--------------------------------- tabela de atualização ----------------------------*/

.atualiza_tabela {
  font-family: 'Open Sans', sans-serif;
}

.atualiza_tabela > thead {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color: #fff;
  background: #222;
  text-align: center;
}

.observacoes_atualizadas {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  border-width: thin;
  border-color: #e7e7e7;
  background: #fafafa;
}


/*--------------------------------- FOOTER ----------------------------*/

footer {
  text-align: center;
  color: #fff;
  background: #2b2934;
}

.footer_title, .footer_title>h4, .footer_title>h6 {
  color: #fff;
}

.igoogleplus {
  transition: all .5s ease;
  color: #fff;
}

.igoogleplus:hover {
  color: #df0707;
}

.igithub {
  transition: all .5s ease;
  color: #fff;
}

.igithub:hover {
  color: #727272;
}

.itelegram {
  transition: all .5s ease;
  color: #fff;
}

.itelegram:hover {
  color: #01a6e5;
}

.iyoutubeplay {
  transition: all .5s ease;
  color: #fff;
}

.iyoutubeplay:hover {
  color: #df0707;
}


/* --------------------- Telas de Erros do Sistema -----------------*/

.centraliza>h1 {
  color: #000;
}

.error-informacao {
  font-size: 3rem;
  text-align: center;
  color: #000;
}

.centraliza {
  display: -webkit-flex;
  display: flex;
  height: 80%;
  min-height: 80%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  /*background-image: url(https://i.ytimg.com/vi/Meg2u5mLMyA/hqdefault.jpg);*/
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
